

<p class="h2 text-center text-primary fw-bold mt-4">
  🚗 Lista de Vehículos No Entregados
</p>

<div class="container text-center mt-3">
  <button class="btn btn-warning btn-lg me-2" (click)="abrirsesion()">
    📝 Gestionar Alquiler
  </button>
  <button class="btn btn-success btn-lg" (click)="abrirsesion2()">
    ✅ Ver Disponibles
  </button>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <label for="tipo" class="form-label fw-bold text-secondary">
        📌 Vehículos en estado "No Entregado":
      </label>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="table-responsive">
    <table class="table table-hover table-bordered shadow-lg rounded">
      <thead class="table-dark text-center">
        <tr>
          <th>Placa</th>
          <th>Color</th>
          <th>Tipo</th>
          <th>Valor vehiculo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of alquiler" class="text-center align-middle table-light">
          <td class="fw-bold text-uppercase">{{ item.vehiculo.placa }}</td>
          <td>{{item.vehiculo.color}}</td>
          <td>{{item.vehiculo.tipo}}</td>
          <td class="text-success fw-bold">${{ item.vehiculo.valorVehiculo| number }}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>