

<nav class="navbar navbar-expand-lg" style="background-color: #002244;">
  <div class="container">
    <div>
      <div class="button-container">
        <a href="/login" class="btn btn-primary">iniciar sesion</a>
        <a href="/registro" class="btn btn-secondary">registrarse</a>
        <a href="/alquiler" class="btn btn-secondary">alquilar vehiculos</a>
      </div>
    </div>

    <a class="navbar-brand fw-bold text-light" href="#">
      <i class="bi bi-car-front-fill"></i> Mi Cacharrito
    </a>

    
    <div class="d-flex" *ngIf="ver">
      <button class="btn text-light me-2 px-4 rounded-pill fw-semibold" 
              style="background-color: #0056b3; border: none;" 
              (click)="abrirsesion()">
        <i class="bi bi-box-arrow-in-right"></i> Iniciar sesión
      </button>
      <button class="btn text-light px-4 rounded-pill fw-semibold" 
              style="background-color: #495057; border: none;" 
              (click)="Registro()">
        <i class="bi bi-person-plus"></i> Registrarse
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
